<!-- Advise-->
<% if notice.present? %>
  <div class="bg-green-50 text-green-700 p-4 rounded mb-4">
    <%= notice %>
  </div>
<% end %>
<!-- Title-->
<div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Matches</h1>
    <%= link_to "New Match", new_admin_match_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
<!-- Body -->
  <div class="flex flex-col w-full">
  <div class="overlow-x-auto sm:mx-0.5 lg:mx-0.5">
    <div class="py-2 inline-block min-w-full">
      <div class="overlow-x-auto">
        <table class="min-w-full overflow-x-scroll">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                Matches ID
              </th>
              <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                Home Team
              </th>
              <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                Away Team
              </th>
              <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                Score
              </th>
              <th scope="col" class="text-sm font-medium text-gray-800 px-12 py-4 text-left">
              </th>
              <th scope="col" class="text-sm font-medium text-gray-800 px-12 py-4 text-left">
              </th>
            </tr>
          </thead>
          <tbody>
            <% @admin_matches.each do |m| %>
              <tr class= "bg-gray-50 border-b">
                <td class="px-6 py-4 whitespace-nowrap tex-sm font-medium text-gray-800 underline">
                    <%= m.id%>
                </td>
                <td class="px-6 py-4 whitespace-nowrap tex-sm font-medium text-gray-800 underline">
                    <%= m.team1 %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap tex-sm font-medium text-gray-800 underline">
                    <%= m.team2 %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap tex-sm font-medium text-gray-800">
                    <%= m.score1%><span>-</span> <%= m.score2%>
                </td>
                <td>
                   <%= link_to "Edit Match", edit_admin_match_path(m), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
                </td>
                <td> 
                  <%= button_to "Delete", admin_match_path(m), method: :delete, class: "rounded-lg py-3 px-5 bg-red-600 text-white block font-medium" %>
                </td>
              </tr>
              <% end %>

            </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>


