<head>

<style>

    body {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      padding: 0;
      background-image: url("https://api.cjosgoiyhh-fortiusag1-p1-public.model-t.cc.commerce.ondemand.com/medias/Euro24-FinalSeries.png?context=bWFzdGVyfHJvb3R8Njk5NDJ8aW1hZ2UvcG5nfGFEVmhMMmcyTVM4NE9EQTBNRGt4TkRrME5ETXdMMFYxY204eU5DMUdhVzVoYkZObGNtbGxjeTV3Ym1jfDJkMThmOTI3MmFlMzU2ZGIyYzU4OTA4MmVkNjRmMzdjYjMzY2NiMjAzZGUxYjk4ZjZkMGMyZWY4MDYzNTE2NGM");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: fixed;
      top: 0; 
      left: 0;
      min-width: 100%;
      min-height: 100%;
      overflow-y: scroll;
      position: absolute;

    }

     




   </style> 


  </head>
  <body>


    
     <main class="container mx-auto mt-28 max-w-7xl px-2 sm:px-6 lg:px-8">


<div class="bg-transparent text-gray-950 text-center py-20">
  <h1 class="text-5xl font-bold mb-4">Welcome to EuroHubHQ.</h1>
  <p class="text-xl mb-8">The ultimate destination for a die-hard UEFA EURO 2024 fan!</p>
  <%= link_to "Shop now", shop_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
  <%= link_to "Play now", games_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
  <%= link_to "Log in now", handler_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
  <%= link_to "Matches", matches_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
  <%= link_to "Groups", groups_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
</div>

<div class="formattazione"></div>
  <div class="design"></div>
  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <h3>What can you buy on EuroHubHQ?</h3>
        <p>Gear up for UEFA EURO 2024 with our exclusive collection of football merchandise! Whether you're a die-hard supporter, a passionate collector, or simply looking for the perfect gift for a football fan, we have everything you need to celebrate this iconic tournament..</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3>What else can you find on EuroHubHQ?</h3>
        <p>Take a break from shopping and dive into our simple, entertaining games designed for football fans of all ages. Test your knowledge, challenge your friends, and have fun while celebrating the spirit of the tournament!</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3>Why should you choose us?</h3>
        <p>Although we are a small business, we provide a unique and engaging experience for everyone! By interacting with our site, you are actively supporting a small business while enjoying a richer, more interactive UEFA EURO 2024 experience!</p>
      </div>
    </div>



</main>

